
*.db
*.exe
.env
.idea/
.vscode
/app/**/vendor/
/app/*.css*
/app/*.js*
/mod_packs/*
/pkg/
auth.leveldb*
build/
conf.json
dev/
dev_packs/
factorio-server-manager*
factorio.auth
factorio_server_manager*
mix-manifest.json
node_modules/
npm-debug.log